@font-face {
font-family: 'CirrusCumulus';
src: url('/CirrusCumulus.woff') format('woff');
}

@font-face {
font-family: 'Format';
src: url('/Format_1452.woff') format('woff');
  
}


@font-face {
font-family: 'VG';
src: url('/VG5000-Regular_web.woff') format('woff');
  
}





h1 {


  font-size: 30px;
  background-color: white;
  font-family: VG;
  
}

a:link {
  color: blue;
  text-decoration: underline;
  background-color: yellow;
}
